.main-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 30px;
  margin: 30px 0;
  box-sizing: border-box;
}
.main-con .form-wrapper {
  border: 1px solid rgb(160, 160, 160);
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}
@media screen and (max-width: 640px) {
  .main-con .form-wrapper {
    width: 100%;
  }
}
.result {
  color: rgba(2, 5, 40, 0.849);
  font-size: 18px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}
.main-con .form-wrapper label {
  color: rgb(67, 67, 67);
  font-size: 15px;
  margin: 5px 0;
  text-transform: capitalize;
}
.main-con .form-wrapper input,
.main-con .form-wrapper select {
  padding: 10px 15px;
  border: 1px solid rgb(154, 154, 154);
  color: rgb(91, 91, 91);
  border-radius: 5px;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  width: 95%;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 20px;
  outline: none;
}
.main-con .form-wrapper button {
  border: 1px solid rgb(171, 171, 171);
  border-radius: 3px;
  font-size: 14px;
  padding: 3px 5px;
  color: rgb(110, 110, 110);
  cursor: pointer;
}
